@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary:   #B6B09F;
  --color-secondary: #EAE4D5;
  --color-accent:    #EAB308;
  --color-neutral:   #3e3e3e;
}
@plugin "daisyui/theme" {
  name: "dark";
  default: true;
  --color-primary:   #B6B09F;
  --color-secondary: #EAE4D5;
  --color-accent:    #EAB308;
  --color-neutral:   #3e3e3e;
}